.navbar {
    background-color: #666; /* Gri întunecat pentru bara de navigare */
    padding: 0px;
    height: 50px; /* Înălțimea barei de navigare */
  }
  body{
    margin: 0px;
  }
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .navbar ul li a {
    color: #fff; /* Text alb */
    text-decoration: none;
    font-size: 18px;
  }
  