.main{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.panel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 321px;
}
.container{
    width: 592px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h1-text{
    color: black;
}
.regular-text{
    color: black;
}
.button-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 17px 30px 17px 30px;
    gap: 10px;
}
.button-text .btn-primary{
    width: 240px;
    text-align: center;
}
.button-text .btn-secondary{
    width: 240px;
    text-align: center;
}
@media (max-width: 1600px) {
    .h1-text{
        margin-bottom: 20px;
    }
    .panel{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .container{
        width: 330px;
    }
    .button-text {
        width: 330px;
        padding: 0px;
        gap: 20px;
    }
}