body{
    color: var(--black);
}
.main{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

}
.panel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hero1{
    background-image: var(--cta-backgraund);
    background-size: cover;
    width: 100px;
    height: 100px;
}
.hero2{
    background-image: var(--cta-house);
    background-size: cover;
    width: 100px;
    height: 120px;
}