  .main{

  }
  .header-logo {
    position: relative;
  }
  .header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    border: 0px;
    gap: 330px;
  }
  .header-text{
    font-size: 30px;
    font-weight: bold;
    font-family: LabGrotesque,Helvetica Neue,Helvetica,Arial,sans-serif;
  }
  .square {
    position: absolute;
    width: 15px; 
    height: 15px; 
    border-radius: 5px; 
    margin-left: 65px;
    margin-top: 5px;
  }
  .red {
    background-color: rgb(0, 221, 179); 
    top: 0;
    left: 0;
  }
  .blue {
    background-color: rgb(243, 71, 71); 
    top: 8px; 
    left: 8px; 
    mix-blend-mode: multiply; /*CULOAREA DIN INTERSECTIA CELOR 2 PATRATE*/
  }

  /*BARA DE NAVIGARE*/
  nav {
    background-color: #ffffff; 
    margin-left: 15px;

    font-size: 18px;
  }
  
  ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline; 
  }
  
  li a {
    display: inline-block;
    padding: 10px 20px; 
    color: #767676;
    text-decoration: none; 
  }
  
  li a:hover {

  }
  
/*BUTON*/
.btn{
    background-color: grey;
    border-radius: 24px;
    border: none;
    color: white;
    font-size: 18px;
    width: 129px;
    height: 48px;
    position: relative;
}

  