.main{
    width: 100vw;
    height: 100vh;

    background-image: var(--cta-backgraund);
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 32px;
}
.input-group{
    margin: 0px;
}
