p{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: Monstserrat;
}
.text1{
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
}
.text2{
    margin-top: 10px;
}
.text3{
    text-decoration: underline;
}