/* Variabile  */
:root {
  --primary-color: #32eba4;
  --secondary-color: #48dbfb;
  --background-color: #cfaeae;
  --container-background: #f6f3f5;
  --border-radius: 8px;
  --box-shadow: 4px 10px rgba(0, 0, 0, 0.1);
}
/* generale */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: #333;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  background-color: var(--container-background);
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  max-width: 500px;
  width: 100%;
}
/* secțiuni */
.rezultatElev,
.participareConcurs,
.diferentaInAniCopii {
  margin-bottom: 50px;
}
/*  text */
.regular-text {
  font-size: 18px;
  margin-bottom: 10px;
  color: #555;
}
/* input-uri și butoane */
input,
button {
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  outline: none;
}
button {
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #04884a;
}
/* input-uri */
input {
  width: calc(100% - 24px);
  margin-bottom: 10px;
  border: 2px solid #ddd;
  transition: border-color 0.3s ease;
}
input:focus {
  border-color: var(--primary-color);
}
/* butoane */
button {
  width: 100%;
}
