.main {
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero {
    background-image: url("https://s3-alpha-sig.figma.com/img/0602/4e5a/ec7a091b3926514f4414f1ff1594eb8b?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=FpL-YFvIDjp1irg9qa5eaJBs1bmHoP2o9LSwuBm~SGOpmOYyi~wvABmZI9xFMeGnPbV6WB-4UutQDo8liG0aqaYvYB5CeebqRgpcdpMKxRt6sahnRlxSW0iXk~pF5t9n7EkJzO23V8cYd4JlsUlHbcuXxaMSMSzTs9fwOSHX8hHVYNStnW58Yy-fGPCpdGsGJAU~0t7TcdrjVgtxABtN-shM7lnhgQvZCOl6EOTtsuRyEAWzq37FYRlyrqSUfqmgUQeGZbEe0Xx9ZkAo3DtVs5et5NB0rx7agQSKImEAImJe6t6SHMn-5zHEiwRBHX4fTVAqs-qKYFUDIjtrxXnfig__");
    background-size: cover;
    background-position: center;
    width: 610px;
    height: 343px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px
}
.h1-text{
    color: black;
}
@media (max-width: 630px) {
    .h1-text{
        width: 395px;
        text-align: center;
    }
    .btn-primary{
        width: 395px;
    }
    .hero{
        width: 427px;
        height: 343px; 
    }
}