h1{
    color:blue;
}
.container{
    background-color: lightgrey;
    width: 300px;
    height: 80px;
    padding: 20px;
    border: 20px solid blue;

}
.button1{
    color:blue;
    background-color: brown;
}

.box{
    background-color: lightgrey;
    width: 50px;
    height: 50px;
    border: 2px solid blue;
}

.container1{
    width: 50vw;
    height: 10vh;

/*Flex poate aranja toate elementele indiferent de cum sunt ele cu o distanta de gap 10px*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}
/*SELECTOR ELEMENT, CLASA, ID*/
p{
    color:brown;
}
.text-rosu{
    color: blue;
}
#text-specific{
    color:blueviolet;
    font-size: 50px;
    background-color: bisque;
    background-size: 50px;
    display: inline-block; /*fundal de dimensiunea textului*/
}